@import url('https://fonts.cdnfonts.com/css/aller');
* {
    font-family: 'Aller', sans-serif;
}
body {
    background-color: #BEEE62;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box {
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

#box h1 {
    margin: 0;
}

#box #pfp {
    height: 125px;
    width: auto;
    border-radius: 10000px;
}


#first, #second {
    width: 700px;
    margin: 50px auto;
    padding: 50px 150px;
    background-color: white;
}
#second {
    width: 700px;
    margin: 50px auto;
    padding: 50px 150px;
    background-color: white;
}
#footer {
    background-color: white;
    padding: 10px;
}
#footer #insides {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0;
    
}
#footer #insides #signature {
    padding: 0 50px;
    font-size: 30px;
}
#footer #insides #buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}